@charset "UTF-8";
:root {
  --border-radius: 0.5rem;
  /* --primary */
  --primary: rgba(31, 141, 255, 1);
  --primary-light: rgba(67, 159, 255, 1);
  --primary-lighter: rgba(102, 176, 255, 1);
  --primary-dark: rgba(0, 125, 243, 1);
  --primary-darker: rgba(0, 109, 226, 1);
  --primary-half: rgba(31, 141, 255, 0.5);
  /* --secondary */
  --secondary: rgba(143, 143, 143, 1);
  --secondary-light: rgba(158, 158, 158, 1);
  --secondary-lighter: rgba(174, 174, 174, 1);
  --secondary-dark: rgba(128, 128, 128, 1);
  --secondary-darker: rgba(113, 113, 113, 1);
  --secondary-half: rgba(143, 143, 143, 0.5);
  /* --info */
  --info: rgba(0, 166, 174, 1);
  --info-light: rgba(0, 183, 192, 1);
  --info-lighter: rgba(0, 201, 210, 1);
  --info-dark: rgba(0, 149, 157, 1);
  --info-darker: rgba(0, 132, 139, 1);
  --info-half: rgba(0, 166, 174, 0.5);
  /* --success */
  --success: rgba(59, 170, 24, 1);
  --success-light: rgba(77, 186, 48, 1);
  --success-lighter: rgba(94, 203, 67, 1);
  --success-dark: rgba(39, 154, 0, 1);
  --success-darker: rgba(11, 139, 0, 1);
  --success-half: rgba(59, 170, 24, 0.5);
  /* --danger */
  --danger: rgba(240, 80, 61, 1);
  --danger-light: rgba(255, 97, 77, 1);
  --danger-lighter: rgba(255, 124, 104, 1);
  --danger-dark: rgba(222, 62, 45, 1);
  --danger-darker: rgba(204, 42, 27, 1);
  --danger-half: rgba(240, 80, 61, 0.5);
  /* --warning */
  --warning: rgba(255, 193, 0, 1);
  --warning-light: rgba(255, 213, 86, 1);
  --warning-lighter: rgba(255, 234, 161, 1);
  --warning-dark: rgba(243, 178, 0, 1);
  --warning-darker: rgba(223, 163, 0, 1);
  --warning-half: rgba(255, 193, 0, 0.5);
  /* --light */
  --light: rgba(255, 255, 255, 1);
  --light-light: rgba(255, 255, 255, 1);
  --light-lighter: rgba(255, 255, 255, 1);
  --light-dark: rgba(238, 238, 238, 1);
  --light-darker: rgba(222, 222, 222, 1);
  --light-half: rgba(255, 255, 255, 0.5);
  /* --dark */
  --dark: rgba(34, 34, 34, 1);
  --dark-light: rgba(22, 22, 22, 1);
  --dark-lighter: rgba(11, 11, 11, 1);
  --dark-dark: rgba(46, 46, 46, 1);
  --dark-darker: rgba(58, 58, 58, 1);
  --dark-half: rgba(34, 34, 34, 0.5);
  /* --link-clr */
  --link-clr: rgba(0, 114, 219, 1);
  --link-clr-light: rgba(0, 145, 255, 1);
  --link-clr-lighter: rgba(86, 179, 255, 1);
  --link-clr-dark: rgba(0, 85, 171, 1);
  --link-clr-darker: rgba(0, 57, 125, 1);
  --link-clr-half: rgba(0, 114, 219, 0.5);
}
@supports (color: color(display-p3 0 0 0)){
:root {
  --primary: color(display-p3 0.26853 0.54582 0.98991 / 100%);
  --primary-light: color(display-p3 0.33703 0.61043 1.00000 / 100%);
  --primary-lighter: color(display-p3 0.45164 0.68155 1.00000 / 100%);
  --primary-dark: color(display-p3 0.20560 0.48286 0.92220 / 100%);
  --primary-darker: color(display-p3 0.13871 0.42031 0.85519 / 100%);
  --primary-half: color(display-p3 0.26853 0.54582 0.98991 / 50%);
  --secondary: color(display-p3 0.56074 0.56074 0.56074 / 100%);
  --secondary-light: color(display-p3 0.62050 0.62050 0.62050 / 100%);
  --secondary-lighter: color(display-p3 0.68134 0.68134 0.68134 / 100%);
  --secondary-dark: color(display-p3 0.50211 0.50211 0.50211 / 100%);
  --secondary-darker: color(display-p3 0.44470 0.44470 0.44470 / 100%);
  --secondary-half: color(display-p3 0.56074 0.56074 0.56074 / 50%);
  --info: color(display-p3 0.00000 0.65749 0.70810 / 100%);
  --info-light: color(display-p3 0.00000 0.72590 0.78076 / 100%);
  --info-lighter: color(display-p3 0.00000 0.79557 0.85479 / 100%);
  --info-dark: color(display-p3 0.00000 0.59032 0.63672 / 100%);
  --info-darker: color(display-p3 0.00000 0.52453 0.56679 / 100%);
  --info-half: color(display-p3 0.00000 0.65749 0.70810 / 50%);
  --success: color(display-p3 0.36197 0.65869 0.21590 / 100%);
  --success-light: color(display-p3 0.42165 0.72177 0.28064 / 100%);
  --success-lighter: color(display-p3 0.48197 0.78572 0.34359 / 100%);
  --success-dark: color(display-p3 0.30273 0.59652 0.14614 / 100%);
  --success-darker: color(display-p3 0.24354 0.53528 0.05740 / 100%);
  --success-half: color(display-p3 0.36197 0.65869 0.21590 / 50%);
  --danger: color(display-p3 0.87213 0.35915 0.27885 / 100%);
  --danger-light: color(display-p3 0.94072 0.42321 0.33792 / 100%);
  --danger-lighter: color(display-p3 1.00000 0.48705 0.39733 / 100%);
  --danger-dark: color(display-p3 0.80415 0.29419 0.21957 / 100%);
  --danger-darker: color(display-p3 0.73680 0.22687 0.15882 / 100%);
  --danger-half: color(display-p3 0.87213 0.35915 0.27885 / 50%);
  --warning: color(display-p3 0.99560 0.76459 0.02164 / 100%);
  --warning-light: color(display-p3 1.00000 0.83634 0.30954 / 100%);
  --warning-lighter: color(display-p3 1.00000 0.91988 0.62459 / 100%);
  --warning-dark: color(display-p3 0.92948 0.70036 0.00000 / 100%);
  --warning-darker: color(display-p3 0.86052 0.63859 0.00000 / 100%);
  --warning-half: color(display-p3 0.99560 0.76459 0.02164 / 50%);
  --light: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-light: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-lighter: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-dark: color(display-p3 0.93448 0.93448 0.93448 / 100%);
  --light-darker: color(display-p3 0.86982 0.86982 0.86982 / 100%);
  --light-half: color(display-p3 1.00000 1.00000 1.00000 / 50%);
  --dark: color(display-p3 0.13150 0.13150 0.13150 / 100%);
  --dark-light: color(display-p3 0.08610 0.08610 0.08610 / 100%);
  --dark-lighter: color(display-p3 0.04348 0.04348 0.04348 / 100%);
  --dark-dark: color(display-p3 0.17924 0.17924 0.17924 / 100%);
  --dark-darker: color(display-p3 0.22901 0.22901 0.22901 / 100%);
  --dark-half: color(display-p3 0.13150 0.13150 0.13150 / 50%);
  --link-clr: color(display-p3 0.00805 0.43453 0.84636 / 100%);
  --link-clr-light: color(display-p3 0.20629 0.55997 0.98068 / 100%);
  --link-clr-lighter: color(display-p3 0.40999 0.69263 1.00000 / 100%);
  --link-clr-dark: color(display-p3 0.00000 0.31009 0.71499 / 100%);
  --link-clr-darker: color(display-p3 0.00000 0.20711 0.52279 / 100%);
  --link-clr-half: color(display-p3 0.00805 0.43453 0.84636 / 50%);
}
}

/*                       */
/* ===================== */
/* ====== display ====== */
/*                       */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

/*                       */
/* ====== display ====== */
/* ===================== */
/*                       */
/*                        */
/* ====================== */
/* ======== flex ======== */
/*                        */
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.align-items-center {
  align-items: center !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-items-baseline {
  align-items: baseline !important;
}

.justify-content-center {
  justify-content: center !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-space-between {
  justify-content: space-between !important;
}
.justify-content-space-around {
  justify-content: space-around !important;
}
.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

/*                        */
/* ======== flex ======== */
/* ====================== */
/*                        */
/*                       */
/* ===================== */
/* ======== gap ======== */
/*                       */
.gap-auto {
  gap: auto !important;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

/*                       */
/* ======== gap ======== */
/* ===================== */
/*                       */
/*                        */
/* ====================== */
/* ==== width/height ==== */
/*                        */
.w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.w-0 {
  width: 0% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-fit {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.h-0 {
  height: 0% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

/*                        */
/* ==== width/height ==== */
/* ====================== */
/*                        */
/*                        */
/* ====================== */
/* === margin/padding === */
/*                        */
.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.p-auto {
  padding: auto !important;
}
.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}
.pl-auto {
  padding-left: auto !important;
}
.pr-auto {
  padding-right: auto !important;
}
.pt-auto {
  padding-top: auto !important;
}
.pb-auto {
  padding-bottom: auto !important;
}

.m-0 {
  margin: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}
.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}
.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}
.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.p-3 {
  padding: 1rem !important;
}
.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}
.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.pl-4 {
  padding-left: 1.5rem !important;
}
.pr-4 {
  padding-right: 1.5rem !important;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}
.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}

.p-5 {
  padding: 3rem !important;
}
.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

/*                        */
/* === margin/padding === */
/* ====================== */
/*                        */
.text-uppercase::first-letter {
  text-transform: capitalize;
}

.container {
  margin: auto;
  padding: 0 3rem;
}

.bg-primary {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--primary);
  --bg-clr-light: var(--primary-light);
  --bg-clr-lighter: var(--primary-lighter);
  --bg-clr-dark: var(--primary-dark);
  --bg-clr-darker: var(--primary-darker);
  --bg-clr-half: var(--primary-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-secondary {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--secondary);
  --bg-clr-light: var(--secondary-light);
  --bg-clr-lighter: var(--secondary-lighter);
  --bg-clr-dark: var(--secondary-dark);
  --bg-clr-darker: var(--secondary-darker);
  --bg-clr-half: var(--secondary-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-info {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--info);
  --bg-clr-light: var(--info-light);
  --bg-clr-lighter: var(--info-lighter);
  --bg-clr-dark: var(--info-dark);
  --bg-clr-darker: var(--info-darker);
  --bg-clr-half: var(--info-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-success {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--success);
  --bg-clr-light: var(--success-light);
  --bg-clr-lighter: var(--success-lighter);
  --bg-clr-dark: var(--success-dark);
  --bg-clr-darker: var(--success-darker);
  --bg-clr-half: var(--success-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-danger {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--danger);
  --bg-clr-light: var(--danger-light);
  --bg-clr-lighter: var(--danger-lighter);
  --bg-clr-dark: var(--danger-dark);
  --bg-clr-darker: var(--danger-darker);
  --bg-clr-half: var(--danger-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-warning {
  --text-clr: var(--dark);
  --text-clr-light: var(--dark-light);
  --text-clr-lighter: var(--dark-lighter);
  --text-clr-dark: var(--dark-dark);
  --text-clr-darker: var(--dark-darker);
  --text-clr-half: var(--dark-half);
  --bg-clr: var(--warning);
  --bg-clr-light: var(--warning-light);
  --bg-clr-lighter: var(--warning-lighter);
  --bg-clr-dark: var(--warning-dark);
  --bg-clr-darker: var(--warning-darker);
  --bg-clr-half: var(--warning-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-light,
:root {
  --text-clr: var(--dark);
  --text-clr-light: var(--dark-light);
  --text-clr-lighter: var(--dark-lighter);
  --text-clr-dark: var(--dark-dark);
  --text-clr-darker: var(--dark-darker);
  --text-clr-half: var(--dark-half);
  --bg-clr: var(--light);
  --bg-clr-light: var(--light-light);
  --bg-clr-lighter: var(--light-lighter);
  --bg-clr-dark: var(--light-dark);
  --bg-clr-darker: var(--light-darker);
  --bg-clr-half: var(--light-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.bg-dark {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--dark);
  --bg-clr-light: var(--dark-light);
  --bg-clr-lighter: var(--dark-lighter);
  --bg-clr-dark: var(--dark-dark);
  --bg-clr-darker: var(--dark-darker);
  --bg-clr-half: var(--dark-half);
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

.darkmode-toggler {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.darkmode-toggler::before {
  cursor: pointer;
  content: var(--emoji, "😀");
  display: block;
  font-size: 2rem;
  line-height: 1;
}

.btn {
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
}
.btn:hover {
  background-color: var(--bg-clr-light);
}
.btn:active {
  background-color: var(--bg-clr-dark);
}
.btn:focus {
  box-shadow: 0 0 0 5px var(--bg-clr-half);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  list-style: none;
}
.nav-list.nav-tabs, .nav-list.nav-tabs .nav-item {
  background-color: var(--bg-clr-dark);
  border-radius: var(--border-radius);
}
.nav-link {
  display: inline-block;
  padding: 0.5rem;
  color: var(--text-clr-darker);
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: var(--border-radius);
}
.nav-link.active {
  color: var(--text-clr-lighter);
  background-color: var(--bg-clr-dark);
}
.nav-tabs .nav-link.active {
  background-color: var(--bg-clr-darker);
}

.nav-link:hover {
  background-color: var(--bg-clr-darker);
}
.nav-link:hover[aria-disabled=true] {
  background-color: var(--bg-clr-dark);
}
.nav-tabs .nav-link {
  padding: 0.5rem 1rem;
}

.navbar {
  border-bottom: 1px solid var(--secondary);
}
.navbar-logo {
  margin-right: 1.5rem;
  padding: 1rem 0;
  font-size: 1.25rem;
  background-color: inherit !important;
}
.navbar-toggler {
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  display: none;
  padding: 0.25rem 0.75rem;
  appearance: none;
  background: transparent;
  border: 1px solid var(--secondary);
  border-radius: var(--border-radius);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 5px var(--secondary-half);
}
.navbar-toggler::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--secondary);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3Cpath%20stroke='black'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3Cpath%20stroke='black'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
}
.navbar-collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.navbar .nav-link {
  display: block;
}

/* index.scss */
html,
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
}
*[aria-disabled=true] {
  cursor: not-allowed;
  color: var(--text-clr-half);
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}
*[aria-disabled=true]:active {
  pointer-events: none;
}

.darkmode-toggler {
  --emoji: "🌞";
  appearance: none;
}
.darkmode-toggler:checked::before {
  --emoji: "🌚";
}
@media (max-width: 768px){
  .container {
    padding: 0 1rem;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    transition-timing-function: ease;
    transition-duration: 350ms;
    overflow: hidden;
    display: block;
    flex-basis: 100%;
    max-height: 0;
    transition-property: max-height;
  }
  .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
  }
  .navbar .container {
    align-items: center;
  }
  .navbar .nav-list {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    background-color: inherit !important;
  }
  .navbar-toggler:checked + .navbar-collapse {
    max-height: var(--height, max-content);
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1200px;
  }
}