:root {
  /* --primary */
  --primary: rgba(31, 141, 255, 1);
  --primary-light: rgba(67, 159, 255, 1);
  --primary-lighter: rgba(102, 176, 255, 1);
  --primary-dark: rgba(0, 125, 243, 1);
  --primary-darker: rgba(0, 109, 226, 1);
  --primary-half: rgba(31, 141, 255, 0.5);
  /* --secondary */
  --secondary: rgba(143, 143, 143, 1);
  --secondary-light: rgba(158, 158, 158, 1);
  --secondary-lighter: rgba(174, 174, 174, 1);
  --secondary-dark: rgba(128, 128, 128, 1);
  --secondary-darker: rgba(113, 113, 113, 1);
  --secondary-half: rgba(143, 143, 143, 0.5);
  /* --success */
  --success: rgba(59, 170, 24, 1);
  --success-light: rgba(77, 186, 48, 1);
  --success-lighter: rgba(94, 203, 67, 1);
  --success-dark: rgba(39, 154, 0, 1);
  --success-darker: rgba(11, 139, 0, 1);
  --success-half: rgba(59, 170, 24, 0.5);
  /* --danger */
  --danger: rgba(240, 80, 61, 1);
  --danger-light: rgba(255, 97, 77, 1);
  --danger-lighter: rgba(255, 124, 104, 1);
  --danger-dark: rgba(222, 62, 45, 1);
  --danger-darker: rgba(204, 42, 27, 1);
  --danger-half: rgba(240, 80, 61, 0.5);
  /* --warning */
  --warning: rgba(255, 193, 0, 1);
  --warning-light: rgba(255, 213, 86, 1);
  --warning-lighter: rgba(255, 234, 161, 1);
  --warning-dark: rgba(243, 178, 0, 1);
  --warning-darker: rgba(223, 163, 0, 1);
  --warning-half: rgba(255, 193, 0, 0.5);
  /* --dark */
  --dark: rgba(34, 34, 34, 1);
  --dark-light: rgba(11, 11, 11, 1);
  --dark-lighter: rgba(0, 0, 0, 1);
  --dark-dark: rgba(58, 58, 58, 1);
  --dark-darker: rgba(85, 85, 85, 1);
  --dark-half: rgba(34, 34, 34, 0.5);
  /* --light */
  --light: rgba(255, 255, 255, 1);
  --light-light: rgba(255, 255, 255, 1);
  --light-lighter: rgba(255, 255, 255, 1);
  --light-dark: rgba(238, 238, 238, 1);
  --light-darker: rgba(222, 222, 222, 1);
  --light-half: rgba(255, 255, 255, 0.5);
  /* --light-clr */
  --light-clr: rgba(143, 143, 143, 1);
  --light-clr-light: rgba(158, 158, 158, 1);
  --light-clr-lighter: rgba(174, 174, 174, 1);
  --light-clr-dark: rgba(128, 128, 128, 1);
  --light-clr-darker: rgba(113, 113, 113, 1);
  --light-clr-half: rgba(143, 143, 143, 0.5);
  /* --link-clr */
  --link-clr: rgba(0, 114, 219, 1);
  --link-clr-light: rgba(0, 145, 255, 1);
  --link-clr-lighter: rgba(86, 179, 255, 1);
  --link-clr-dark: rgba(0, 85, 171, 1);
  --link-clr-darker: rgba(0, 57, 125, 1);
  --link-clr-half: rgba(0, 114, 219, 0.5);
}

@supports (color: color(display-p3 0 0 0)) {
:root {
  --primary: color(display-p3 0.26853 0.54582 0.98991 / 100%);
  --primary-light: color(display-p3 0.33703 0.61043 1.00000 / 100%);
  --primary-lighter: color(display-p3 0.45164 0.68155 1.00000 / 100%);
  --primary-dark: color(display-p3 0.20560 0.48286 0.92220 / 100%);
  --primary-darker: color(display-p3 0.13871 0.42031 0.85519 / 100%);
  --primary-half: color(display-p3 0.26853 0.54582 0.98991 / 50%);
  --secondary: color(display-p3 0.56074 0.56074 0.56074 / 100%);
  --secondary-light: color(display-p3 0.62050 0.62050 0.62050 / 100%);
  --secondary-lighter: color(display-p3 0.68134 0.68134 0.68134 / 100%);
  --secondary-dark: color(display-p3 0.50211 0.50211 0.50211 / 100%);
  --secondary-darker: color(display-p3 0.44470 0.44470 0.44470 / 100%);
  --secondary-half: color(display-p3 0.56074 0.56074 0.56074 / 50%);
  --success: color(display-p3 0.36197 0.65869 0.21590 / 100%);
  --success-light: color(display-p3 0.42165 0.72177 0.28064 / 100%);
  --success-lighter: color(display-p3 0.48197 0.78572 0.34359 / 100%);
  --success-dark: color(display-p3 0.30273 0.59652 0.14614 / 100%);
  --success-darker: color(display-p3 0.24354 0.53528 0.05740 / 100%);
  --success-half: color(display-p3 0.36197 0.65869 0.21590 / 50%);
  --danger: color(display-p3 0.87213 0.35915 0.27885 / 100%);
  --danger-light: color(display-p3 0.94072 0.42321 0.33792 / 100%);
  --danger-lighter: color(display-p3 1.00000 0.48705 0.39733 / 100%);
  --danger-dark: color(display-p3 0.80415 0.29419 0.21957 / 100%);
  --danger-darker: color(display-p3 0.73680 0.22687 0.15882 / 100%);
  --danger-half: color(display-p3 0.87213 0.35915 0.27885 / 50%);
  --warning: color(display-p3 0.99560 0.76459 0.02164 / 100%);
  --warning-light: color(display-p3 1.00000 0.83634 0.30954 / 100%);
  --warning-lighter: color(display-p3 1.00000 0.91988 0.62459 / 100%);
  --warning-dark: color(display-p3 0.92948 0.70036 0.00000 / 100%);
  --warning-darker: color(display-p3 0.86052 0.63859 0.00000 / 100%);
  --warning-half: color(display-p3 0.99560 0.76459 0.02164 / 50%);
  --dark: color(display-p3 0.13150 0.13150 0.13150 / 100%);
  --dark-light: color(display-p3 0.04348 0.04348 0.04348 / 100%);
  --dark-lighter: color(display-p3 0.00161 0.00162 0.00162 / 100%);
  --dark-dark: color(display-p3 0.22901 0.22901 0.22901 / 100%);
  --dark-darker: color(display-p3 0.33384 0.33384 0.33384 / 100%);
  --dark-half: color(display-p3 0.13150 0.13150 0.13150 / 50%);
  --light: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-light: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-lighter: color(display-p3 1.00000 1.00000 1.00000 / 100%);
  --light-dark: color(display-p3 0.93448 0.93448 0.93448 / 100%);
  --light-darker: color(display-p3 0.86982 0.86982 0.86982 / 100%);
  --light-half: color(display-p3 1.00000 1.00000 1.00000 / 50%);
  --light-clr: color(display-p3 0.56074 0.56074 0.56074 / 100%);
  --light-clr-light: color(display-p3 0.62050 0.62050 0.62050 / 100%);
  --light-clr-lighter: color(display-p3 0.68134 0.68134 0.68134 / 100%);
  --light-clr-dark: color(display-p3 0.50211 0.50211 0.50211 / 100%);
  --light-clr-darker: color(display-p3 0.44470 0.44470 0.44470 / 100%);
  --light-clr-half: color(display-p3 0.56074 0.56074 0.56074 / 50%);
  --link-clr: color(display-p3 0.00805 0.43453 0.84636 / 100%);
  --link-clr-light: color(display-p3 0.20629 0.55997 0.98068 / 100%);
  --link-clr-lighter: color(display-p3 0.40999 0.69263 1.00000 / 100%);
  --link-clr-dark: color(display-p3 0.00000 0.31009 0.71499 / 100%);
  --link-clr-darker: color(display-p3 0.00000 0.20711 0.52279 / 100%);
  --link-clr-half: color(display-p3 0.00805 0.43453 0.84636 / 50%);
}
}

/*                       */
/* ===================== */
/* ====== display ====== */
/*                       */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

/*                       */
/* ====== display ====== */
/* ===================== */
/*                       */
/*                        */
/* ====================== */
/* ======== flex ======== */
/*                        */
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/*                        */
/* ======== flex ======== */
/* ====================== */
/*                        */
/*                       */
/* ===================== */
/* ======== gap ======== */
/*                       */
.gap-auto {
  gap: auto;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}

/*                       */
/* ======== gap ======== */
/* ===================== */
/*                       */
/*                        */
/* ====================== */
/* ==== width/height ==== */
/*                        */
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-0 {
  width: 0%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-0 {
  height: 0%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/*                        */
/* ==== width/height ==== */
/* ====================== */
/*                        */
/*                        */
/* ====================== */
/* === margin/padding === */
/*                        */
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}

.p-auto {
  padding: auto;
}
.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}
.pt-auto {
  padding-top: auto;
}
.pb-auto {
  padding-bottom: auto;
}

.m-0 {
  margin: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pb-3 {
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.5rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}

.m-5 {
  margin: 3rem;
}
.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.ml-5 {
  margin-left: 3rem;
}
.mr-5 {
  margin-right: 3rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 3rem;
}

.p-5 {
  padding: 3rem;
}
.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pl-5 {
  padding-left: 3rem;
}
.pr-5 {
  padding-right: 3rem;
}
.pt-5 {
  padding-top: 3rem;
}
.pb-5 {
  padding-bottom: 3rem;
}

/*                        */
/* === margin/padding === */
/* ====================== */
/*                        */
.collapsing {
  overflow: hidden;
  height: 0;
  transition: height 0.35s ease;
}

.container {
  margin: auto;
  padding: 0 3rem;
}

.bg-primary {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--primary);
  --bg-clr-light: var(--primary-light);
  --bg-clr-lighter: var(--primary-lighter);
  --bg-clr-dark: var(--primary-dark);
  --bg-clr-darker: var(--primary-darker);
  --bg-clr-half: var(--primary-half);
  background-color: var(--primary);
}

.bg-secondary {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--secondary);
  --bg-clr-light: var(--secondary-light);
  --bg-clr-lighter: var(--secondary-lighter);
  --bg-clr-dark: var(--secondary-dark);
  --bg-clr-darker: var(--secondary-darker);
  --bg-clr-half: var(--secondary-half);
  background-color: var(--secondary);
}

.bg-success {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--success);
  --bg-clr-light: var(--success-light);
  --bg-clr-lighter: var(--success-lighter);
  --bg-clr-dark: var(--success-dark);
  --bg-clr-darker: var(--success-darker);
  --bg-clr-half: var(--success-half);
  background-color: var(--success);
}

.bg-danger {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--danger);
  --bg-clr-light: var(--danger-light);
  --bg-clr-lighter: var(--danger-lighter);
  --bg-clr-dark: var(--danger-dark);
  --bg-clr-darker: var(--danger-darker);
  --bg-clr-half: var(--danger-half);
  background-color: var(--danger);
}

.bg-warning {
  --text-clr: var(--dark);
  --text-clr-light: var(--dark-light);
  --text-clr-lighter: var(--dark-lighter);
  --text-clr-dark: var(--dark-dark);
  --text-clr-darker: var(--dark-darker);
  --text-clr-half: var(--dark-half);
  --bg-clr: var(--warning);
  --bg-clr-light: var(--warning-light);
  --bg-clr-lighter: var(--warning-lighter);
  --bg-clr-dark: var(--warning-dark);
  --bg-clr-darker: var(--warning-darker);
  --bg-clr-half: var(--warning-half);
  background-color: var(--warning);
}

.bg-dark {
  --text-clr: var(--light);
  --text-clr-light: var(--light-light);
  --text-clr-lighter: var(--light-lighter);
  --text-clr-dark: var(--light-dark);
  --text-clr-darker: var(--light-darker);
  --text-clr-half: var(--light-half);
  --bg-clr: var(--dark);
  --bg-clr-light: var(--dark-light);
  --bg-clr-lighter: var(--dark-lighter);
  --bg-clr-dark: var(--dark-dark);
  --bg-clr-darker: var(--dark-darker);
  --bg-clr-half: var(--dark-half);
  background-color: var(--dark);
}

.bg-light,
:root {
  --text-clr: var(--dark);
  --text-clr-light: var(--dark-light);
  --text-clr-lighter: var(--dark-lighter);
  --text-clr-dark: var(--dark-dark);
  --text-clr-darker: var(--dark-darker);
  --text-clr-half: var(--dark-half);
  --bg-clr: var(--light);
  --bg-clr-light: var(--light-light);
  --bg-clr-lighter: var(--light-lighter);
  --bg-clr-dark: var(--light-dark);
  --bg-clr-darker: var(--light-darker);
  --bg-clr-half: var(--light-half);
  background-color: var(--light);
}

.btn {
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.75rem;
}
.btn:hover {
  background-color: var(--bg-clr-light);
}
.btn:active {
  background-color: var(--bg-clr-dark);
}
.btn:focus {
  box-shadow: 0 0 0 5px var(--bg-clr-half);
}

.nav-list {
  margin: 0;
  list-style: none;
}
.nav-link {
  --link-clr: var(--text-clr);
  --link-clr-light: var(--text-clr-light);
  --link-clr-lighter: var(--text-clr-lighter);
  --link-clr-dark: var(--text-clr-dark);
  --link-clr-darker: var(--text-clr-darker);
  --link-clr-half: var(--text-clr-half);
  padding: 1rem 0.25rem;
  color: var(--link-clr-darker);
  -webkit-text-decoration: none;
  text-decoration: none;
}
.nav-link.active {
  color: var(--link-clr-lighter);
}

.navbar {
  border-bottom: 1px solid var(--light-clr);
}
.navbar-logo {
  padding: 1rem 0;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.navbar-toggler {
  transition: box-shadow 0.25s ease;
  cursor: pointer;
  display: none;
  padding: 0.25rem 0.75rem;
  appearance: none;
  background: transparent;
  border: 1px solid var(--light-clr);
  border-radius: 0.75rem;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 5px var(--light-clr-half);
}
.navbar-toggler::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--light-clr);
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
          mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.navbar-collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: baseline;
  justify-content: space-between;
}
.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.navbar .nav-list {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

/* index.scss */
html,
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  color: var(--text-clr);
}
*[aria-disabled=true] {
  cursor: not-allowed;
  color: var(--text-clr-half);
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}
*[aria-disabled=true]:active {
  pointer-events: none;
}

a {
  color: var(--link-clr);
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    transition-timing-function: ease;
    transition-duration: 350ms;
    overflow: hidden;
    display: block;
    flex-basis: 100%;
    max-height: 0;
    transition-property: max-height;
  }
  .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--light-clr);
  }
  .navbar .container {
    align-items: center;
  }
  .navbar .nav-list {
    flex-direction: column;
  }
  .navbar .nav-list .nav-link {
    display: block;
    padding: 0.5rem;
    background-color: var(--bg-clr-darker);
    border-radius: 0.25rem;
  }
  .navbar .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--bg-clr-dark);
  }
  .navbar-toggler:checked + .navbar-collapse {
    max-height: var(--height, max-content);
  }
}

@media (max-width: 565px) {
  .container {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}