:root {
  /*                 */
  /*=================*/
  /*=== ui ===*/
  /*=================*/
  /*                 */
  /* --bg-clr */
  --bg-clr: rgba(255, 255, 255,1);
  --bg-clr-light: rgba(255, 255, 255,1);
  --bg-clr-lighter: rgba(255, 255, 255,1);
  --bg-clr-dark: rgba(238, 238, 238,1);
  --bg-clr-darker: rgba(222, 222, 222,1);
  --bg-clr-half: rgba(255, 255, 255,0.5);
  /* --text-clr */
  --text-clr: rgba(0, 0, 0,1);
  --text-clr-light: rgba(0, 0, 0,1);
  --text-clr-lighter: rgba(3, 3, 3,1);
  --text-clr-dark: rgba(0, 0, 0,1);
  --text-clr-darker: rgba(0, 0, 0,1);
  --text-clr-half: rgba(0, 0, 0,0.5);
  /* --light-clr */
  --light-clr: rgba(143, 143, 143,1);
  --light-clr-light: rgba(158, 158, 158,1);
  --light-clr-lighter: rgba(174, 174, 174,1);
  --light-clr-dark: rgba(128, 128, 128,1);
  --light-clr-darker: rgba(113, 113, 113,1);
  --light-clr-half: rgba(143, 143, 143,0.5);
  /* --link-clr */
  --link-clr: rgba(0, 121, 193,1);
  --link-clr-light: rgba(0, 137, 215,1);
  --link-clr-lighter: rgba(0, 153, 238,1);
  --link-clr-dark: rgba(0, 106, 171,1);
  --link-clr-darker: rgba(0, 91, 149,1);
  --link-clr-half: rgba(0, 121, 193,0.5);
  /*                 */
  /*=================*/
  /*=== variants ===*/
  /*=================*/
  /*                 */
  /* --primary */
  --primary: rgba(31, 141, 255,1);
  --primary-light: rgba(67, 159, 255,1);
  --primary-lighter: rgba(102, 176, 255,1);
  --primary-dark: rgba(0, 125, 243,1);
  --primary-darker: rgba(0, 109, 226,1);
  --primary-half: rgba(31, 141, 255,0.5);
  /* --secondary */
  --secondary: rgba(143, 143, 143,1);
  --secondary-light: rgba(158, 158, 158,1);
  --secondary-lighter: rgba(174, 174, 174,1);
  --secondary-dark: rgba(128, 128, 128,1);
  --secondary-darker: rgba(113, 113, 113,1);
  --secondary-half: rgba(143, 143, 143,0.5);
  /* --success */
  --success: rgba(59, 170, 24,1);
  --success-light: rgba(77, 186, 48,1);
  --success-lighter: rgba(94, 203, 67,1);
  --success-dark: rgba(39, 154, 0,1);
  --success-darker: rgba(11, 139, 0,1);
  --success-half: rgba(59, 170, 24,0.5);
  /* --danger */
  --danger: rgba(240, 80, 61,1);
  --danger-light: rgba(255, 97, 77,1);
  --danger-lighter: rgba(255, 124, 104,1);
  --danger-dark: rgba(222, 62, 45,1);
  --danger-darker: rgba(204, 42, 27,1);
  --danger-half: rgba(240, 80, 61,0.5);
  /* --warning */
  --warning: rgba(255, 193, 0,1);
  --warning-light: rgba(255, 213, 86,1);
  --warning-lighter: rgba(255, 234, 161,1);
  --warning-dark: rgba(243, 178, 0,1);
  --warning-darker: rgba(223, 163, 0,1);
  --warning-half: rgba(255, 193, 0,0.5);
  /*                 */
  /*=================*/
  /*=== nav ===*/
  /*=================*/
  /*                 */
  /* --nav-link */
  --nav-link: rgba(53, 53, 53,1);
  --nav-link-light: rgba(66, 66, 66,1);
  --nav-link-lighter: rgba(80, 80, 80,1);
  --nav-link-dark: rgba(41, 41, 41,1);
  --nav-link-darker: rgba(29, 29, 29,1);
  --nav-link-half: rgba(53, 53, 53,0.5);
  /* --nav-collapse-tab */
  --nav-collapse-tab: rgba(174, 174, 174,0.5);
  --nav-collapse-tab-light: rgba(190, 190, 190,0.5);
  --nav-collapse-tab-lighter: rgba(206, 206, 206,0.5);
  --nav-collapse-tab-dark: rgba(158, 158, 158,0.5);
  --nav-collapse-tab-darker: rgba(143, 143, 143,0.5);
  --nav-collapse-tab-half: rgba(174, 174, 174,0);
}

@supports (color: color(display-p3 0 0 0)) {
:root {
  --bg-clr: color(display-p3 1.00000 1.00000 1.00000/100%);
  --bg-clr-light: color(display-p3 1.00000 1.00000 1.00000/100%);
  --bg-clr-lighter: color(display-p3 1.00000 1.00000 1.00000/100%);
  --bg-clr-dark: color(display-p3 0.93448 0.93448 0.93448/100%);
  --bg-clr-darker: color(display-p3 0.86982 0.86982 0.86982/100%);
  --bg-clr-half: color(display-p3 1.00000 1.00000 1.00000/50%);
  --text-clr: color(display-p3 0.00000 0.00000 0.00000/100%);
  --text-clr-light: color(display-p3 0.00161 0.00162 0.00162/100%);
  --text-clr-lighter: color(display-p3 0.01292 0.01292 0.01292/100%);
  --text-clr-dark: color(display-p3 0.00000 0.00000 0.00000/100%);
  --text-clr-darker: color(display-p3 0.00000 0.00000 0.00000/100%);
  --text-clr-half: color(display-p3 0.00000 0.00000 0.00000/50%);
  --light-clr: color(display-p3 0.56074 0.56074 0.56074/100%);
  --light-clr-light: color(display-p3 0.62050 0.62050 0.62050/100%);
  --light-clr-lighter: color(display-p3 0.68134 0.68134 0.68134/100%);
  --light-clr-dark: color(display-p3 0.50211 0.50211 0.50211/100%);
  --light-clr-darker: color(display-p3 0.44470 0.44470 0.44470/100%);
  --light-clr-half: color(display-p3 0.56074 0.56074 0.56074/50%);
  --link-clr: color(display-p3 0.00000 0.46360 0.80534/100%);
  --link-clr-light: color(display-p3 0.00000 0.52359 0.89942/100%);
  --link-clr-lighter: color(display-p3 0.00000 0.58483 0.99538/100%);
  --link-clr-dark: color(display-p3 0.00000 0.40496 0.71328/100%);
  --link-clr-darker: color(display-p3 0.00000 0.34775 0.62337/100%);
  --link-clr-half: color(display-p3 0.00000 0.46360 0.80534/50%);
  --primary: color(display-p3 0.26853 0.54582 0.98991/100%);
  --primary-light: color(display-p3 0.33703 0.61043 1.00000/100%);
  --primary-lighter: color(display-p3 0.45164 0.68155 1.00000/100%);
  --primary-dark: color(display-p3 0.20560 0.48286 0.92220/100%);
  --primary-darker: color(display-p3 0.13871 0.42031 0.85519/100%);
  --primary-half: color(display-p3 0.26853 0.54582 0.98991/50%);
  --secondary: color(display-p3 0.56074 0.56074 0.56074/100%);
  --secondary-light: color(display-p3 0.62050 0.62050 0.62050/100%);
  --secondary-lighter: color(display-p3 0.68134 0.68134 0.68134/100%);
  --secondary-dark: color(display-p3 0.50211 0.50211 0.50211/100%);
  --secondary-darker: color(display-p3 0.44470 0.44470 0.44470/100%);
  --secondary-half: color(display-p3 0.56074 0.56074 0.56074/50%);
  --success: color(display-p3 0.36197 0.65869 0.21590/100%);
  --success-light: color(display-p3 0.42165 0.72177 0.28064/100%);
  --success-lighter: color(display-p3 0.48197 0.78572 0.34359/100%);
  --success-dark: color(display-p3 0.30273 0.59652 0.14614/100%);
  --success-darker: color(display-p3 0.24354 0.53528 0.05740/100%);
  --success-half: color(display-p3 0.36197 0.65869 0.21590/50%);
  --danger: color(display-p3 0.87213 0.35915 0.27885/100%);
  --danger-light: color(display-p3 0.94072 0.42321 0.33792/100%);
  --danger-lighter: color(display-p3 1.00000 0.48705 0.39733/100%);
  --danger-dark: color(display-p3 0.80415 0.29419 0.21957/100%);
  --danger-darker: color(display-p3 0.73680 0.22687 0.15882/100%);
  --danger-half: color(display-p3 0.87213 0.35915 0.27885/50%);
  --warning: color(display-p3 0.99560 0.76459 0.02164/100%);
  --warning-light: color(display-p3 1.00000 0.83634 0.30954/100%);
  --warning-lighter: color(display-p3 1.00000 0.91988 0.62459/100%);
  --warning-dark: color(display-p3 0.92948 0.70036 0.00000/100%);
  --warning-darker: color(display-p3 0.86052 0.63859 0.00000/100%);
  --warning-half: color(display-p3 0.99560 0.76459 0.02164/50%);
  --nav-link: color(display-p3 0.20887 0.20887 0.20887/100%);
  --nav-link-light: color(display-p3 0.25976 0.25976 0.25976/100%);
  --nav-link-lighter: color(display-p3 0.31236 0.31236 0.31236/100%);
  --nav-link-dark: color(display-p3 0.15988 0.15988 0.15988/100%);
  --nav-link-darker: color(display-p3 0.11304 0.11304 0.11304/100%);
  --nav-link-half: color(display-p3 0.20887 0.20887 0.20887/50%);
  --nav-collapse-tab: color(display-p3 0.68134 0.68134 0.68134/50%);
  --nav-collapse-tab-light: color(display-p3 0.74321 0.74321 0.74321/50%);
  --nav-collapse-tab-lighter: color(display-p3 0.80605 0.80605 0.80605/50%);
  --nav-collapse-tab-dark: color(display-p3 0.62050 0.62050 0.62050/50%);
  --nav-collapse-tab-darker: color(display-p3 0.56074 0.56074 0.56074/50%);
  --nav-collapse-tab-half: color(display-p3 0.68134 0.68134 0.68134/0%);
}
}

/* ===display=== */
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

/* ===flex=== */
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* ===gap=== */
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}

/* ===width/height=== */
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-0 {
  width: 0%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-0 {
  height: 0%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* ===margin/padding=== */
.m-0 {
  margin: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.5rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-5 {
  margin: 3rem;
}
.ml-5 {
  margin-left: 3rem;
}
.mr-5 {
  margin-right: 3rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-5 {
  padding: 3rem;
}
.pl-5 {
  padding-left: 3rem;
}
.pr-5 {
  padding-right: 3rem;
}
.pt-5 {
  padding-top: 3rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-auto {
  padding: auto;
}
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}
.pt-auto {
  padding-top: auto;
}
.pb-auto {
  padding-bottom: auto;
}
.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* ===text/bg=== */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.text-warning {
  color: var(--warning);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-success {
  background-color: var(--success);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-warning {
  background-color: var(--warning);
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.container {
  padding: 0 3rem;
  margin: auto;
}
@media (max-width: 565px) {
  .container {
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* ===btn=== */
.btn {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  transition: all 0.25s ease;
}
.btn-primary:focus {
  box-shadow: 0 0 0 5px var(--primary-half);
}
.btn-primary:hover {
  background-color: var(--primary-light);
}
.btn-primary:active {
  background-color: var(--primary-dark);
}
.btn-secondary {
  background-color: var(--secondary);
  transition: all 0.25s ease;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 5px var(--secondary-half);
}
.btn-secondary:hover {
  background-color: var(--secondary-light);
}
.btn-secondary:active {
  background-color: var(--secondary-dark);
}
.btn-success {
  background-color: var(--success);
  transition: all 0.25s ease;
}
.btn-success:focus {
  box-shadow: 0 0 0 5px var(--success-half);
}
.btn-success:hover {
  background-color: var(--success-light);
}
.btn-success:active {
  background-color: var(--success-dark);
}
.btn-danger {
  background-color: var(--danger);
  transition: all 0.25s ease;
}
.btn-danger:focus {
  box-shadow: 0 0 0 5px var(--danger-half);
}
.btn-danger:hover {
  background-color: var(--danger-light);
}
.btn-danger:active {
  background-color: var(--danger-dark);
}
.btn-warning {
  background-color: var(--warning);
  color: black;
  transition: all 0.25s ease;
}
.btn-warning:focus {
  box-shadow: 0 0 0 5px var(--warning-half);
}
.btn-warning:hover {
  background-color: var(--warning-light);
}
.btn-warning:active {
  background-color: var(--warning-dark);
}

.nav-list {
  list-style: none;
  margin: 0;
}
.nav-link {
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 1rem 0.25rem;
}
.nav-link[aria-disabled=true] {
  color: var(--link-clr-light);
  cursor: not-allowed;
}
.nav-link[aria-disabled=true]:active {
  pointer-events: none;
}

@media (max-width: 0px) {
  .navbar-xs .navbar-toggler, .navbar-xs .navbar-toggler::before {
    display: block;
  }
  .navbar-xs .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-xs .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-xs .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-xs .container {
    align-items: center !important;
  }
  .navbar-xs .nav-list {
    flex-direction: column;
  }
  .navbar-xs .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-xs .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
@media (max-width: 575.98px) {
  .navbar-sm .navbar-toggler, .navbar-sm .navbar-toggler::before {
    display: block;
  }
  .navbar-sm .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-sm .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-sm .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-sm .container {
    align-items: center !important;
  }
  .navbar-sm .nav-list {
    flex-direction: column;
  }
  .navbar-sm .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-sm .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
@media (max-width: 767.98px) {
  .navbar-md .navbar-toggler, .navbar-md .navbar-toggler::before {
    display: block;
  }
  .navbar-md .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-md .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-md .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-md .container {
    align-items: center !important;
  }
  .navbar-md .nav-list {
    flex-direction: column;
  }
  .navbar-md .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-md .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
@media (max-width: 991.98px) {
  .navbar-lg .navbar-toggler, .navbar-lg .navbar-toggler::before {
    display: block;
  }
  .navbar-lg .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-lg .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-lg .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-lg .container {
    align-items: center !important;
  }
  .navbar-lg .nav-list {
    flex-direction: column;
  }
  .navbar-lg .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-lg .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
@media (max-width: 1199.98px) {
  .navbar-xl .navbar-toggler, .navbar-xl .navbar-toggler::before {
    display: block;
  }
  .navbar-xl .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-xl .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-xl .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-xl .container {
    align-items: center !important;
  }
  .navbar-xl .nav-list {
    flex-direction: column;
  }
  .navbar-xl .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-xl .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
@media (max-width: calc(1400x - 0.02px)) {
  .navbar-xxl .navbar-toggler, .navbar-xxl .navbar-toggler::before {
    display: block;
  }
  .navbar-xxl .navbar-collapse {
    flex-basis: 100%;
  }
  .navbar-xxl .navbar-collapse.collapse:not(.show) {
    display: none;
  }
  .navbar-xxl .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: var(--light-clr);
  }
  .navbar-xxl .container {
    align-items: center !important;
  }
  .navbar-xxl .nav-list {
    flex-direction: column;
  }
  .navbar-xxl .nav-list .nav-link {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--nav-collapse-tab);
  }
  .navbar-xxl .nav-list .nav-link:hover:not([aria-disabled=true]) {
    background-color: var(--nav-collapse-tab-light);
  }
}
.navbar {
  --link-clr: var(--nav-link);
  --link-clr-light: var(--nav-link-light);
  --link-clr-lighter: var(--nav-link-lighter);
  --link-clr-dark: var(--nav-link-dark);
  --link-clr-darker: var(--nav-link-darker);
  --link-clr-half: var(--nav-link-half);
  border-bottom: 1px solid var(--light-clr);
}
.navbar .nav-link.active {
  --link-clr: var(--nav-link-lighter);
  --link-clr-light: var(--nav-link-lighter-light);
  --link-clr-lighter: var(--nav-link-lighter-lighter);
  --link-clr-dark: var(--nav-link-lighter-dark);
  --link-clr-darker: var(--nav-link-lighter-darker);
  --link-clr-half: var(--nav-link-lighter-half);
}
.navbar-logo {
  padding: 1rem 0;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.navbar-toggler {
  transition: all 0.25s ease;
  display: none;
  border-radius: 0.75rem;
  background: transparent;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--light-clr);
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 5px var(--light-clr);
}
.navbar-toggler::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 30px;
  height: 30px;
}
.navbar-collapse {
  flex-basis: auto;
  flex-grow: 1;
}
.navbar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.navbar .nav-list {
  display: flex;
}

/* index.scss */
:root {
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

html,
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
}

a {
  color: var(--link-clr);
}