@forward "./collapse.scss";
@use "../../variables.scss" as *;
@use "../../funtions.scss" as *;

.navbar {
  @include ui_replace(--link-clr, --nav-link);
  .nav-link.active {
    @include ui_replace(--link-clr, --nav-link-lighter);
  }
  border-bottom: 1px solid var(--light-clr);

  &-logo {
    padding: 1rem 0;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  &-toggler {
    @include shadowed_focus(--light-clr);
    display: none;
    border-radius: 0.75rem;
    background: transparent;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--light-clr);
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      width: 30px;
      height: 30px;
    }
  }

  &-collapse {
    flex-basis: auto;
    flex-grow: 1;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav-list {
    display: flex;
  }

  // &-dark {
  //   --dark-mode: 1;
  //   @include hsl_change(--light-clr, $l: 33%);
  //   @include hsl_change(--link-clr, $l: 77%);
  //   .nav-link.active {
  //     --link-clr: hsl(0deg 0% 100%);
  //   }
  //   background-color: hsl(0deg 0% 15%);

  //   .navbar-toggler::before {
  //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  //   }
  // }
}
