@use "sass:color";
@use "../variables.scss" as *;
@use "../funtions.scss" as *;

@mixin variant($name, $color_var) {
  &-#{$name} {
    background-color: var($color_var);
    @include shadowed_focus($color_var);
    &:hover {
      background-color: hsl_scale($color_var, $l: +10%);
    }
    &:active {
      background-color: hsl_scale($color_var, $l: -10%);
    }
  }
}

/* ===btn=== */
.btn {
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  @each $name, $color_var in $variants_vars {
    @include variant($name, $color_var);
  }
}
