@use "../funtions.scss" as *;

.nav {
  &-list {
    list-style: none;
    margin: 0;
  }
  &-link {
    text-decoration: none;
    padding: 1rem 0.25rem;
    &[aria-disabled="true"] {
      color: hsl-scale(--link-clr, $l: +10%);
      cursor: not-allowed;
      &:active {
        pointer-events: none;
      }
    }
  }
}
