@use "./utils.scss" as *;
@use "./variables.scss" as *;
@use "./functions.scss" as *;

.btn {
  @include clickable(--bg-clr, background-color);
  @include shadowed-focus(--bg-clr-half);

  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
}
