@use "sass:selector";
@use "./variables.scss" as *;
@use "./functions.scss" as *;
@use "./utils.scss" as *;

.navbar {
  border-bottom: 1px solid var(--light-clr);

  &-logo {
    padding: 1rem 0;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  &-toggler {
    @include shadowed_focus(--light-clr-half);

    cursor: pointer;

    display: none;

    padding: 0.25rem 0.75rem;

    appearance: none;
    background: transparent;
    border: 1px solid var(--light-clr);
    border-radius: 0.75rem;

    &::before {
      content: "";

      display: block;

      width: 30px;
      height: 30px;

      background-color: var(--light-clr);

      mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    @media ($media-breakpoint) {
      display: block;
    }
  }

  &-collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    @media ($media-breakpoint) {
      @include transition-base;

      overflow: hidden;
      display: block;
      flex-basis: 100%;

      max-height: 0;

      transition-property: max-height;

      &::before {
        content: "";

        display: block;

        width: 100%;
        height: 2px;

        background-color: var(--light-clr);
      }

      > * {
        padding: 1rem 0;
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    @media ($media-breakpoint) {
      align-items: center;
    }
  }

  .nav-list {
    display: flex;
    gap: 1rem;

    @media ($media-breakpoint) {
      flex-direction: column;

      .nav-link {
        display: block;
        padding: 0.5rem;
        background-color: var(--bg-clr-darker);
        border-radius: 0.25rem;

        &:hover:not([aria-disabled="true"]) {
          background-color: var(--bg-clr-dark);
        }
      }
    }
  }

  @media ($media-breakpoint) {
    &-toggler:checked + &-collapse {
      max-height: var(--height, max-content);
    }
  }
}
