@use "./functions.scss" as *;

.nav {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 0;

    list-style: none;

    &.nav-tabs,
    &.nav-tabs .nav-item {
      background-color: var(--bg-clr-dark);
      border-radius: var(--border-radius);
    }
  }

  &-link {
    display: block;

    padding: 0.5rem;

    color: var(--text-clr);
    text-decoration: none;

    border-radius: var(--border-radius);

    &.active {
      background-color: var(--bg-clr-dark);

      @at-root .nav-tabs & {
        background-color: var(--bg-clr-darker);
      }
    }

    &:hover {
      background-color: var(--bg-clr-darker);

      &[aria-disabled="true"] {
        background-color: var(--bg-clr-dark);
      }
    }

    @at-root .nav-tabs & {
      padding: 0.5rem 1rem;
    }
  }
}
