@use "sass:color";
@use "sass:map";

@mixin hsl_init($name, $h, $s, $l, $a: 100%) {
  #{$name}-h: $h;
  #{$name}-s: $s;
  #{$name}-l: $l;
  #{$name}-a: $a;
  $h: var(#{$name}-h);
  $s: var(#{$name}-s);
  $l: var(#{$name}-l);
  $a: var(#{$name}-a);
  #{$name}: hsl($h, $s, $l, $a);
}

@mixin hsl_from(
  $name,
  $from,
  $h: var(#{$from}-h),
  $s: var(#{$from}-s),
  $l: var(#{$from}-l),
  $a: var(#{$from}-a)
) {
  @include hsl_init($name, $h, $s, $l, $a);
}

@mixin hsl_change($from, $h: false, $s: false, $l: false, $a: false) {
  @if ($h) {
    #{$from}-h: $h;
  }
  @if ($s) {
    #{$from}-s: $s;
  }
  @if ($l) {
    #{$from}-l: $l;
  }
  @if ($a) {
    #{$from}-a: $a;
  }
  $h: var(#{$from}-h);
  $s: var(#{$from}-s);
  $l: var(#{$from}-l);
  $a: var(#{$from}-a);
  #{$from}: hsl($h, $s, $l, $a);
}

@function hsl_scale($from, $h: 0deg, $s: 0%, $l: 0%, $a: 0%) {
  $isDarkMode: calc(var(--dark-mode, -1) * -1);
  $h: calc(var(#{$from}-h) + ($h * $isDarkMode));
  $s: calc(var(#{$from}-s) + ($s * $isDarkMode));
  $l: calc(var(#{$from}-l) + ($l * $isDarkMode));
  $a: calc(var(#{$from}-a) + ($a * $isDarkMode));
  @return hsl($h, $s, $l, $a);
}

@function hsl_change(
  $from,
  $h: var(#{$from}-h),
  $s: var(#{$from}-s),
  $l: var(#{$from}-l),
  $a: var(#{$from}-a)
) {
  @return hsl($h, $s, $l, $a);
}

@mixin shadowed_focus($color_var) {
  transition: all 0.25s ease;
  &:focus {
    box-shadow: 0 0 0 5px hsl_scale($color_var, $a: -50%);
  }
}

@mixin media_breakpoints($class, $breakpoints) {
  @each $bp_key, $bp in $breakpoints {
    @media (max-width: calc($bp - 0.02px)) {
      .#{$class}-#{$bp-key} {
        @content;
      }
    }
  }
}
