@use "sass:color";
@use "sass:map";

@function lch_create($l, $c, $h, $a: 100%) {
  @return (l: $l, c: $c, h: $h, a: $a);
}

@mixin lch_init($name, $l, $c, $h, $a: 1) {
  #{$name}: oklch(#{$l} #{$c} #{$h} / #{$a});
}

@mixin lch_from(
  $name,
  $from_lch,
  $l: map-get($from_lch, $l),
  $c: map-get($from_lch, $c),
  $h: map-get($from_lch, $h),
  $a: map-get($from_lch, $a)
) {
  @include lch_init($name, $l, $c, $h, $a);
}

@mixin lch_scale($name, $from_lcha, $l: 0, $c: 0, $h: 0, $a: 0) {
  $l: map-get($from_lcha, l) + $l;
  $c: map-get($from_lcha, c) + $c;
  $h: map-get($from_lcha, h) + $h;
  $a: map-get($from_lcha, a) + $a;
  @include lch_init($name, $l, $c, $h, $a);
}

@mixin lch_ui_init($name, $l, $c, $h, $a: 100%) {
  /* #{$name} */
  $lch: lch_create($l, $c, $h, $a);
  @include lch_init($name, $lch...);
  @include lch_scale(#{$name}-light, $lch, $l: +5%);
  @include lch_scale(#{$name}-lighter, $lch, $l: +10%);
  @include lch_scale(#{$name}-dark, $lch, $l: -5%);
  @include lch_scale(#{$name}-darker, $lch, $l: -10%);
  @include lch_scale(#{$name}-half, $lch, $a: -50%);
}

@mixin lch_ui_from(
  $name,
  $from_lch,
  $l: map-get($from_lch, l),
  $c: map-get($from_lch, c),
  $h: map-get($from_lch, h),
  $a: map-get($from_lch, a)
) {
  @include lch_ui_init($name, $l, $c, $h, $a);
}

@mixin ui_replace($from, $to) {
  #{$from}: var($to);
  #{$from}-light: var(#{$to}-light);
  #{$from}-lighter: var(#{$to}-lighter);
  #{$from}-dark: var(#{$to}-dark);
  #{$from}-darker: var(#{$to}-darker);
  #{$from}-half: var(#{$to}-half);
}

@mixin shadowed_focus($color_var) {
  transition: all 0.25s ease;
  &:focus {
    box-shadow: 0 0 0 5px var($color_var);
  }
}

@mixin media_breakpoints($class, $breakpoints) {
  @each $bp_key, $bp in $breakpoints {
    @media (max-width: calc($bp - 0.02px)) {
      .#{$class}-#{$bp-key} {
        @content;
      }
    }
  }
}

@mixin print_title($title) {
  /*                 */
  /*=================*/
  /*=== #{$title} ===*/
  /*=================*/
  /*                 */
}
