@use "sass:map";
@use "./functions.scss" as *;
@use "./variables.scss" as *;

:root {
  @each $name, $color in $theme-colors {
    @include lch-palette-init(--#{$name}, $color...);
  }

  @extend %bg-light;

  @include lch-palette-from(--light-clr, $primary, $c: 0%);
  @include lch-palette-init(--link-clr, $l: 55%, $c: 50%, $h: 250deg, $mul: 2);
}

@include describe("display") {
  @each $value in (none, block, flex, grid) {
    .d-#{$value} {
      display: $value;
    }

    @if $value != none {
      .d-inline-#{$value} {
        display: inline-#{$value};
      }
    }
  }
}

@include describe("flex") {
  .flex {
    &-column {
      flex-direction: column;
    }

    &-wrap {
      flex-wrap: wrap;
    }

    &-column-reverse {
      flex-direction: column-reverse;
    }

    &-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
  }
}

@include describe("gap") {
  @each $space_class, $space in $spacers {
    .gap-#{$space_class} {
      gap: $space;
    }
  }
}

@include describe("width/height") {
  @each $class, $prop in (w: width, h: height) {
    .#{$class}-fit {
      #{$prop}: fit-content;
    }

    @each $space_class, $space in $percents {
      .#{$class}-#{$space_class} {
        #{$prop}: $space;
      }
    }
  }
}

@include describe("margin/padding") {
  @each $space_class, $space in $spacers {
    @each $class, $prop in (m: margin, p: padding) {
      .#{$class} {
        &-#{$space_class} {
          #{$prop}: $space;
        }

        &x-#{$space_class} {
          #{$prop}-left: $space;
          #{$prop}-right: $space;
        }

        &y-#{$space_class} {
          #{$prop}-top: $space;
          #{$prop}-bottom: $space;
        }

        @each $side_class, $side in (l: left, r: right, t: top, b: bottom) {
          &#{$side_class}-#{$space_class} {
            #{$prop}-#{$side}: $space;
          }
        }
      }
    }
  }
}

.collapsing {
  overflow: hidden;
  height: 0;
  transition: height 0.35s ease;
}

.container {
  margin: auto;
  padding: 0 3rem;

  @media (width <= 565px) {
    padding: 0 1rem;
  }

  @media (width >= 1200px) {
    max-width: 1200px;
  }
}

@each $color_name, $color in $theme-colors {
  .bg-#{$color_name},
  %bg-#{$color_name} {
    $text: if(map.get($color, l) <= 65%, --light, --dark);

    @include palette_replace(--text-clr, $text);
    @include palette_replace(--bg-clr, --#{$color-name});

    background-color: var(--#{$color_name});
  }
}

@mixin transition-base {
  transition-timing-function: ease;
  transition-duration: 350ms;
}
