@use "sass:color";
@use "sass:map";
@use "./funtions.scss" as *;

$primary: lch_create(
  $l: 65%,
  $c: 50%,
  $h: 255deg,
);

:root {
  @include print_title("ui");
  @include lch_ui_from(--bg-clr, $primary, $l: 100%, $c: 0%);
  @include lch_ui_from(--text-clr, $primary, $l: 0%, $c: 0%);
  @include lch_ui_from(--light-clr, $primary, $c: 0%);
  @include lch_ui_init(--link-clr, $l: 55%, $c: 75%, $h: 240deg);

  @include print_title("variants");
  @include lch_ui_init(--primary, $primary...);
  @include lch_ui_from(--secondary, $primary, $c: 0%);
  @include lch_ui_from(--success, $primary, $h: 140deg);
  @include lch_ui_from(--danger, $primary, $h: 30deg);
  @include lch_ui_from(--warning, $primary, $h: 85deg, $l: 85%);

  @include print_title("nav");
  @include lch_ui_init(--nav-link, $l: 33%, $c: 0%, $h: 0deg);
  @include lch_ui_init(--nav-collapse-tab, $l: 75%, $c: 0%, $h: 0deg, $a: 50%);
}

$variants_vars: (
  primary: --primary,
  secondary: --secondary,
  success: --success,
  danger: --danger,
  warning: --warning,
);

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

$percents: (
  0: 0%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

$breakpoints: (
  xs: 0.02px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400x,
);
